.face-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-container {
  width: 320px;         
  height: 320px;
  border-radius: 50%;
  border: 8px solid 
  background:
  overflow: hidden;      
  position: relative;
}

.face-image {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  object-position: center; 
  display: block;
}
